:root {
    --color-blue: #01325e;
    /* --color-blue: #1212ff; */
    --color-red: #e1000f;
    --color-gold: #d8ab4c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-literata);
    min-height: 100dvh;
}
