:root {
    --color-blue: #01325e;
    --color-red: #e1000f;
    --color-gold: #d8ab4c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
    font-family: var(--font-literata);
    min-height: 100dvh;
}

section.content {
    padding: 1rem;
}

h1 {
    width: fit-content;
    padding: 1rem;
    border-bottom: 3px solid var(--color-gold);
    border-right: 3px solid var(--color-gold);
}

article {
    text-align: justify;
    font-size: 1.2rem;
}

article p {
    margin: 1rem;
}
